body{
    margin:0 auto;
    max-width: 1000px;
    background-color: #fff;
}
img{
    max-width: 100%;
}
a{

    color: black;
}
li{
    margin-bottom: 30px;
}
.header{
    margin-top: 40px;
    font-size: 25px;
}
.section-index{
    background-color: gray;
}
#section{

    margin:0 auto;
    margin-top: 40px;
}
#index{
    padding-top:10px ;
}
.section-index{
    padding: 15px;
}
.indexMain{
    margin:0 auto;
    max-width: 600px;

}
.indexOl{
    padding-left: 20px;
    margin: 20px;
}
.title{
    margin: 0;
}
ol:last-child{
    margin: 20px;
}
.detailWrapper{
    display: flex;
}
.detailMain{
    max-width: 600px;
    margin:0 auto;
    padding: 10px;
}
.detailImg{
    width: 270px;

    padding: 10px;

    margin-right: 60px;
}
.test{
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 20px;
    border-bottom: solid 1px #dedede; 

}
dl{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 16px 0;
    border-bottom: solid 1px #dedede; 
}



