@charset "UTF-8";

html{
  font-size: 100%;
}

body{
  color: #2b2a27;
  font-family:"Helvetica Neue", "Arial", "Hiragino Sans", "Meiryo", sans-serif;
}
/* 、CSS書き始める前にここを書く */

img{
  max-width: 100%;
}
ul{
  list-style: none;
}
a{
  color: #2b2a27;
}
@media screen and (max-width:834px) {
  
}
/* 使うタグ内でデフォルトの設定をしたい場合はここにまとめておく */

.flex{
  display: flex;
  margin-bottom: 60px;
}
.flex .img{
  width: 50%;
}
