body {
  width: 100%;
  font-family: "Helvetica Neue, Arial, Hiragino Sans, Meiryo, sans-serif";
}
dl{
    flex-wrap: wrap;

}
dd {
  border-bottom: dotted 1px gray;
  padding: 7px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.material-li {
  border-bottom: dotted 1px gray;
  padding: 7px 0;
}
ol {
  padding: 20px;
}
@media screen and (max-width: 834px) {
  .main {
    width: 100%;
    /* スマホの場合は表示を縦方向にするためwidth: 100%;にする。 */
    display: flex;
    flex-direction: column;
  }
  .main-left img {
    height: auto;
    /* スマホ表示時は高さ制限の解除 */
  }
}
dd:last-child {
  margin-bottom: 35px;
}
.material-li:last-child {
  margin-bottom: 35px;
}
.footer {
  margin: auto 0;
  text-decoration: none;
  color: black;
}
.main {
  width: 100%;
  display: flex;
}
.main-left {
  width: 70%;
}
@media screen and (max-width: 834px) {
  .main-left {
    width: 100%;
  }
}
.main-img {
  object-fit: cover;
  object-position: center top;
  width: 100%;
  height: 700px;
}
.main-right {
  padding: 45px;
}
.title {
  margin-bottom: 20px;
}
.description {
  font-size: 15px;
  margin-bottom: 20px;
}
.mtitle {
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 5px;
  border-bottom: solid 1px rgb(186, 185, 185);
  margin-bottom: 15px;
}
.footer-main {
  text-align: center;
}
.footer {
  display: inline-block;
  /* 並びはinline 中身はblock的になる */
  border: solid 1px black;
  padding: 20px 60px;
  margin-bottom: 60px;
  cursor: pointer;
}
.footerLinks {
  text-align: center;
  padding: 25px;
  font-size: 0.75rem;
}
.footerLinks ul {
  padding: 0;

  display: flex;
  list-style: none;
  /* align-items: center; */
  justify-content: center;

  /* 真ん中からずれている場合はpaddingで調整する。
     */
}
.footerLinks li {
  margin: 0 10px;
  /* 要素の間隔を調整 */
}

.footerLinks a {
  color: black;
}
.copyright-font {
  font-size: 0.75rem;
}
